<div class="tab column" style="display:none" id="darkMatter">
					<div id="tabcolumnDarkMater" class="panel w3-margin-left" style="display: flex">
						<div class="w3-button w3-bar-item tabButtonDarkMatter baritem w3-blue-gray" id="shopTabTabButton" onClick="setTabDarkMatter('shopTab')"><span id="dm_tab_shop"></span></div>
						<div class="w3-button w3-bar-item tabButtonDarkMatter baritem" id="skillTreeTabTabButton" onClick="setTabDarkMatter('skillTreeTab')"><span id="dm_tab_abilities"></span></div>
					</div>
							<div id="maincolumnDarkMatter" class="panel w3-margin-left w3-margin-top">
						<div id="shopTab" class="tabDarkMatter">
							<div id="shopTabPage" class="panel page-column w3-padding">
								<div class="text-caption" style="padding-top:0em">
									<div class="text-caption"><span class="color-dark-matter"></span>: <span id="darkMatterShopDisplay"></span></div>
								</div>
								<div style="padding-top:2em">
									<div class="text-caption dark-matter-title" id="dark_orb_generator"></div>
									<div style="color:gray; padding-bottom:0.3em" id="dark_orb_generator_desc"></div>
									<div style="color:gray; padding-bottom: 0.5em;">Cost: <b id="darkOrbGeneratorCost"></b> <span class="color-dark-matter">Dark Matter</span></div>
									<button class="w3-button button" id="darkOrbGeneratorBuyButton" onclick="buyDarkOrbGenerator()"></button>
								</div>
								<div style="padding-top:2em">
									<div class="text-caption dark-matter-title" id="a_miracle"></div>
									<div style="color:gray; padding-bottom:0.3em" id="a_miracle_desc"></div>
									<div id="aMiracleCost" style="color:gray; padding-bottom: 0.5em;">Cost: <b>10</b> <span class="color-dark-matter">Dark Matter</span></div>
									<button class="w3-button button" id="aMiracleBuyButton" onclick="buyAMiracle()"></button>
								</div>
								<div class="text-caption" style="padding-top:4em">
									<div class="text-caption"><span class="color-dark-orbs" id="dark_orbs_shop"></span>: <span id="darkOrbsShopDisplay"></span></div>
								</div>
								<div style="padding-top:2em">
									<div class="text-caption dark-matter-title" id="a_deal_with_chairman"></div>
									<div style="color:gray; padding-bottom: 0.3em;"><span id="a_deal_with_chairman_desc"></span></div>
									<div style="color:gray; padding-bottom: 0.5em;">Cost: <b id="aDealWithTheChairmanCost"></b> <span class="color-dark-orbs">Dark Orbs</span></div>
									<button class="w3-button button" id="aDealWithTheChairmanBuyButton" onclick="buyADealWithTheChairman()"></button>
								</div>
								<div style="padding-top:2em">
									<div class="text-caption dark-matter-title" id="a_gift_from_god"></div>
									<div style="color:gray; padding-bottom: 0.3em;"><span id="a_gift_from_god_desc"></span></div>
									<div style="color:gray; padding-bottom: 0.5em;"><span></span>: <b id="aGiftFromGodCost"></b> <span class="color-dark-orbs"></span></div>
									<button class="w3-button button" id="aGiftFromGodBuyButton" onclick="buyAGiftFromGod()"></button>
								</div>
								<div style="padding-top:2em">
									<div class="text-caption dark-matter-title" id="gotta_be_fast"></div>
									<div style="color:gray; padding-bottom: 0.3em;"><span id="gotta_be_fast_desc"></span></div>
									<div style="color:gray; padding-bottom: 0.5em;"><span></span>: <b id="gottaBeFastCost"></b> <span class="color-dark-orbs"></span></div>
									<button class="w3-button button" id="gottaBeFastBuyButton" onclick="buyGottaBeFast()"></button>
								</div>
								<div style="padding-top:2em">
									<div class="text-caption dark-matter-title" id="life_coach"></div>
									<div style="color:gray; padding-bottom: 0.3em;"><span id="life_coach_desc"></span></div>
									<div style="color:gray; padding-bottom: 0.5em;"><span></span>: <b id="lifeCoachCost"></b> <span class="color-dark-orbs"></span></div>
									<button class="w3-button button" id="lifeCoachBuyButton" onclick="buyLifeCoach()"></button>
								</div>
							</div>
						</div>
						<div id="skillTreeTab" class="tabDarkMatter">
							<div id="skillTreePage" class="panel page-column w3-padding">
								<div id="skillTreePageDarkMaterDisplay" class="text-caption" style="padding-top:0em">
									<div class="text-caption"><span class="color-dark-matter" id="skillTreePageDarkMaterTitle">Dark Matter: </span><span id="darkMatterSkillsDisplay"></span></div>
								</div>
								<div style="padding-top:2em">
									<div style="color:gray; padding-bottom:0.3em">
									</div>
									<button class="w3-button button" onclick="resetSkillTree()"></button>
								</div>
								<div style="padding-top:2em">
									<div class="text-caption dark-matter-title"></div>
									<div style="color:gray; padding-bottom:0.3em">
										<button id="speedIsLife1" class="w3-button button" onclick="buySpeedOfLife(1)"></button> -
										<span></span>
									</div>
									<div class="darkMatterSkillOR" style="padding: 0.6em"></div>
									<div style="color:gray; padding-bottom:0.3em">
										<button id="speedIsLife2" class="w3-button button" onclick="buySpeedOfLife(2)"></button> -
										<span></span>
									</div>
									<div id="speedIsLifeCost" style="color:gray; padding-bottom: 0.5em;"><span></span>: <b>100</b> <span class="color-dark-matter"></span></div>
								</div>
								<div style="padding-top:2em">
									<div class="text-caption dark-matter-title"></div>
									<div style="color:gray; padding-bottom:0.3em">
										<button id="yourGreatestDebt1" class="w3-button button" onclick="buyYourGreatestDebt(1)">Buy</button> -
										Multiply <span style="color:rgb(255, 204, 102)">all XP</span> gain by <b>500x</b><span class="negative-effect">
											,
											but divide <span class="color-income">Income</span> by <b>10x</b>
										</span>
									</div>
									<div class="darkMatterSkillOR" style="padding: 0.6em">OR</div>
									<div style="color:gray; padding-bottom:0.3em">
										<button id="yourGreatestDebt2" class="w3-button button" onclick="buyYourGreatestDebt(2)">Buy</button> -
										Multiply <span class="color-evil">Evil gain</span> by <b>100x</b><span class="negative-effect">
											,
											but divide <span class="color-income">Income</span> by <b>2x</b>
										</span>
									</div>
									<div id="yourGreatestDebtCost" style="color:gray; padding-bottom: 0.5em;">Cost: <b>1k</b> <span class="color-dark-matter">Dark Matter</span></div>
								</div>
								<div style="padding-top:2em">
									<div class="text-caption dark-matter-title"></div>
									<div style="color:gray; padding-bottom:0.3em">
										<button id="essenceCollector1" class="w3-button button" onclick="buyEssenceCollector(1)">Buy</button> -
										Multiply <span class="color-essence">Essence</span> gain by <b>500x</b><span class="negative-effect">
											,
											but divide <span class="color-evil">Evil</span> gain by <b>2x</b>
										</span>
									</div>
									<div class="darkMatterSkillOR" style="padding: 0.6em">OR</div>
									<div style="color:gray; padding-bottom:0.3em">
										<button id="essenceCollector2" class="w3-button button" onclick="buyEssenceCollector(2)">Buy</button> -
										Multiply <span class="color-essence">Essence</span> gain by <b>1000x</b><span class="negative-effect">
											,
											but divide <span class="color-income">Income</span> by <b>25x</b>
										</span>
									</div>
									<div id="essenceCollectorCost" style="color:gray; padding-bottom: 0.5em;">Cost: <b>10k</b> <span class="color-dark-matter">Dark Matter</span></div>
								</div>
								<div style="padding-top:2em">
									<div class="text-caption dark-matter-title"></div>
									<div style="color:gray; padding-bottom:0.3em">
										<button id="explosionOfTheUniverse1" class="w3-button button" onclick="buyExplosionOfTheUniverse(1)">Buy</button> -
										Multiply <span style="color:rgb(255, 204, 102)">all XP</span> gain by <b>1e100x</b><span class="negative-effect">
											,
											but divide <span class="color-essence">Essence</span> gain by <b>2x</b>
										</span>
									</div>
									<div class="darkMatterSkillOR" style="padding: 0.6em">OR</div>
									<div style="color:gray; padding-bottom:0.3em">
										<button id="explosionOfTheUniverse2" class="w3-button button" onclick="buyExplosionOfTheUniverse(2)">Buy</button> -
										Multiply <span style="color:rgb(255, 204, 102)">all XP</span> gain by <b>1e150x</b><span class="negative-effect">
											,
											but divide <span class="color-income">Income</span> by <b>1e5x</b>
										</span>
									</div>
									<div id="explosionOfTheUniverseCost" style="color:gray; padding-bottom: 0.5em;">Cost: <b>100k</b> <span class="color-dark-matter">Dark Matter</span></div>
								</div>
								<div style="padding-top:2em">
									<div class="text-caption dark-matter-title"></div>
									<div style="color:gray; padding-bottom:0.3em">
										<button id="multiverseExplorer1" class="w3-button button" onclick="buyMultiverseExplorer(1)">Buy</button> -
										Multiply <span class="color-essence">Essence</span> gain by <b>5000x</b><span class="negative-effect">
											,
											but divide <span class="color-time-warping">Time Warping</span> by <b>1000x</b>
										</span>
									</div>
									<div class="darkMatterSkillOR" style="padding: 0.6em">OR</div>
									<div style="color:gray; padding-bottom:0.3em">
										<button id="multiverseExplorer2" class="w3-button button" onclick="buyMultiverseExplorer(2)">Buy</button> -
										Multiply <span class="color-essence">Essence</span> gain by <b>10000x</b><span class="negative-effect">
											,
											but divide <span class="color-dark-matter">Dark Matter</span> gain by <b>100x</b>
										</span>
									</div>
									<div id="multiverseExplorerCost" style="color:gray; padding-bottom: 0.5em;">Cost: <b>100M</b> <span class="color-dark-matter">Dark Matter</span></div>
								</div>
							</div>
						</div>
					</div>
				</div>