<div class="tab column" style="display:none" id="darkMatter">
					<div id="tabcolumnDarkMater" class="panel w3-margin-left" style="display: flex">
						<div class="w3-button w3-bar-item tabButtonDarkMatter baritem w3-blue-gray" id="shopTabTabButton" onClick="setTabDarkMatter('shopTab')"><span id="dm_tab_shop"></span></div>
						<div class="w3-button w3-bar-item tabButtonDarkMatter baritem" id="skillTreeTabTabButton" onClick="setTabDarkMatter('skillTreeTab')"><span id="dm_tab_abilities"></span></div>
					</div>
							<div id="maincolumnDarkMatter" class="panel w3-margin-left w3-margin-top">
						<div id="shopTab" class="tabDarkMatter">
							<div id="shopTabPage" class="panel page-column w3-padding">
								<div class="text-caption" style="padding-top:0em">
									<div class="text-caption"><span class="color-dark-matter" id="darkMatterShopCurrency"></span>: <span id="darkMatterShopDisplay"></span></div>
								</div>
								<div style="padding-top:2em">
									<div class="text-caption dark-matter-title" id="dark_orb_generator"></div>
									<div style="color:gray; padding-bottom:0.3em" id="dark_orb_generator_desc"></div>
									<div style="color:gray; padding-bottom: 0.5em;"><span id="darkOrbGeneratorCostLabel"></span>: <b id="darkOrbGeneratorCost"></b> <span class="color-dark-matter" id="darkOrbGeneratorCurrency"></span></div>
									<button class="w3-button button" id="darkOrbGeneratorBuyButton" onclick="buyDarkOrbGenerator()"></button>
								</div>
								<div style="padding-top:2em">
									<div class="text-caption dark-matter-title" id="a_miracle"></div>
									<div style="color:gray; padding-bottom:0.3em" id="a_miracle_desc"></div>
									<div id="aMiracleCost" style="color:gray; padding-bottom: 0.5em;"><span id="aMiracleCostLabel"></span>: <b>10</b> <span class="color-dark-matter" id="aMiracleCurrency"></span></div>
									<button class="w3-button button" id="aMiracleBuyButton" onclick="buyAMiracle()"></button>
								</div>
								<div class="text-caption" style="padding-top:4em">
									<div class="text-caption"><span class="color-dark-orbs" id="dark_orbs_shop"></span>: <span id="darkOrbsShopDisplay"></span></div>
								</div>
								<div style="padding-top:2em">
									<div class="text-caption dark-matter-title" id="a_deal_with_chairman"></div>
									<div style="color:gray; padding-bottom: 0.3em;"><span id="a_deal_with_chairman_desc"></span></div>
									<div style="color:gray; padding-bottom: 0.5em;"><span id="aDealWithTheChairmanCostLabel"></span>: <b id="aDealWithTheChairmanCost"></b> <span class="color-dark-orbs" id="aDealWithTheChairmanCurrency"></span></div>
									<button class="w3-button button" id="aDealWithTheChairmanBuyButton" onclick="buyADealWithTheChairman()"></button>
								</div>
								<div style="padding-top:2em">
									<div class="text-caption dark-matter-title" id="a_gift_from_god"></div>
									<div style="color:gray; padding-bottom: 0.3em;"><span id="a_gift_from_god_desc"></span></div>
									<div style="color:gray; padding-bottom: 0.5em;"><span id="aGiftFromGodCostLabel"></span>: <b id="aGiftFromGodCost"></b> <span class="color-dark-orbs" id="aGiftFromGodCurrency"></span></div>
									<button class="w3-button button" id="aGiftFromGodBuyButton" onclick="buyAGiftFromGod()"></button>
								</div>
								<div style="padding-top:2em">
									<div class="text-caption dark-matter-title" id="gotta_be_fast"></div>
									<div style="color:gray; padding-bottom: 0.3em;"><span id="gotta_be_fast_desc"></span></div>
									<div style="color:gray; padding-bottom: 0.5em;"><span id="gottaBeFastCostLabel"></span>: <b id="gottaBeFastCost"></b> <span class="color-dark-orbs" id="gottaBeFastCurrency"></span></div>
									<button class="w3-button button" id="gottaBeFastBuyButton" onclick="buyGottaBeFast()"></button>
								</div>
								<div style="padding-top:2em">
									<div class="text-caption dark-matter-title" id="life_coach"></div>
									<div style="color:gray; padding-bottom: 0.3em;"><span id="life_coach_desc"></span></div>
									<div style="color:gray; padding-bottom: 0.5em;"><span id="lifeCoachCostLabel"></span>: <b id="lifeCoachCost"></b> <span class="color-dark-orbs" id="lifeCoachCurrency"></span></div>
									<button class="w3-button button" id="lifeCoachBuyButton" onclick="buyLifeCoach()"></button>
								</div>
							</div>
						</div>
						<div id="skillTreeTab" class="tabDarkMatter">
							<div id="skillTreePage" class="panel page-column w3-padding">
								<div id="skillTreePageDarkMaterDisplay" class="text-caption" style="padding-top:0em">
									<div class="text-caption"><span class="color-dark-matter" id="skillTreePageDarkMaterTitle"></span><span id="darkMatterSkillsDisplay"></span></div>
								</div>
								<div style="padding-top:2em">
									<button class="w3-button button" id="resetAbilitiesButton" onclick="resetSkillTree()"></button>
								</div>
								<div style="padding-top:2em">
									<div class="text-caption dark-matter-title" id="speed_is_life"></div>
									<div style="color:gray; padding-bottom:0.3em">
										<button id="speedIsLife1" class="w3-button button" onclick="buySpeedOfLife(1)"></button> -
										<span id="speedIsLife1Desc"></span>
									</div>
									<div class="darkMatterSkillOR" style="padding: 0.6em"></div>
									<div style="color:gray; padding-bottom:0.3em">
										<button id="speedIsLife2" class="w3-button button" onclick="buySpeedOfLife(2)"></button> -
										<span id="speedIsLife2Desc"></span>
									</div>
									<div id="speedIsLifeCost" style="color:gray; padding-bottom: 0.5em;"><span></span>: <b>100</b> <span class="color-dark-matter"></span></div>
								</div>
								<div style="padding-top:2em">
									<div class="text-caption dark-matter-title" id="your_greatest_debt"></div>
									<div style="color:gray; padding-bottom:0.3em">
										<button id="yourGreatestDebt1" class="w3-button button" onclick="buyYourGreatestDebt(1)"></button> -
										<span id="yourGreatestDebt1Desc"></span>
									</div>
									<div class="darkMatterSkillOR" style="padding: 0.6em"></div>
									<div style="color:gray; padding-bottom:0.3em">
										<button id="yourGreatestDebt2" class="w3-button button" onclick="buyYourGreatestDebt(2)"></button> -
										<span id="yourGreatestDebt2Desc"></span>
									</div>
									<div id="yourGreatestDebtCost" style="color:gray; padding-bottom: 0.5em;"><span></span>: <b>1k</b> <span class="color-dark-matter"></span></div>
								</div>
								<div style="padding-top:2em">
									<div class="text-caption dark-matter-title" id="essence_collector"></div>
									<div style="color:gray; padding-bottom:0.3em">
										<button id="essenceCollector1" class="w3-button button" onclick="buyEssenceCollector(1)"></button> -
										<span id="essenceCollector1Desc"></span>
									</div>
									<div class="darkMatterSkillOR" style="padding: 0.6em"></div>
									<div style="color:gray; padding-bottom:0.3em">
										<button id="essenceCollector2" class="w3-button button" onclick="buyEssenceCollector(2)"></button> -
										<span id="essenceCollector2Desc"></span>
									</div>
									<div id="essenceCollectorCost" style="color:gray; padding-bottom: 0.5em;"><span></span>: <b>10k</b> <span class="color-dark-matter"></span></div>
								</div>
								<div style="padding-top:2em">
									<div class="text-caption dark-matter-title" id="explosion_of_the_universe"></div>
									<div style="color:gray; padding-bottom:0.3em">
										<button id="explosionOfTheUniverse1" class="w3-button button" onclick="buyExplosionOfTheUniverse(1)"></button> -
										<span id="explosionOfTheUniverse1Desc"></span>
									</div>
									<div class="darkMatterSkillOR" style="padding: 0.6em"></div>
									<div style="color:gray; padding-bottom:0.3em">
										<button id="explosionOfTheUniverse2" class="w3-button button" onclick="buyExplosionOfTheUniverse(2)"></button> -
										<span id="explosionOfTheUniverse2Desc"></span>
									</div>
									<div id="explosionOfTheUniverseCost" style="color:gray; padding-bottom: 0.5em;"><span></span>: <b>100k</b> <span class="color-dark-matter"></span></div>
								</div>
								<div style="padding-top:2em">
									<div class="text-caption dark-matter-title" id="multiverse_explorer"></div>
									<div style="color:gray; padding-bottom:0.3em">
										<button id="multiverseExplorer1" class="w3-button button" onclick="buyMultiverseExplorer(1)"></button> -
										<span id="multiverseExplorer1Desc"></span>
									</div>
									<div class="darkMatterSkillOR" style="padding: 0.6em"></div>
									<div style="color:gray; padding-bottom:0.3em">
										<button id="multiverseExplorer2" class="w3-button button" onclick="buyMultiverseExplorer(2)"></button> -
										<span id="multiverseExplorer2Desc"></span>
									</div>
									<div id="multiverseExplorerCost" style="color:gray; padding-bottom: 0.5em;"><span></span>: <b>100M</b> <span class="color-dark-matter"></span></div>
								</div>
							</div>
						</div>
					</div>
				</div>
