<div class="header">
			<img src="img/logos.png" alt="logos" />
			<h3><span id="app_title"></span><sup id="app_title_sup"></sup></h3>
		</div>
		<div id="resources" class="row" style="top: 0; z-index: 1;">
            <div class="panel w3-padding" style="width: 86em; display: flex; justify-content: space-between; column-gap: 20px; border-width: 1em 0 1em 0; border-style: solid;">
                <div id="income-resource" class="resource topbar-element" style="padding-left: 1rem; padding-right: 1rem;">
					<div class="text-caption" id="coinDisplay">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div style="color: gray" id="balance"></div>
					<div>
						<span class="color-hypercubes" id="net_text"></span>: <b id="signDisplay"></b>
						<div id="netDisplay" style="display: inline;">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<div>
						<span class="color-income" id="income_text"></span>:
						<div id="incomeDisplay" style="display: inline;">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<div>
						<span style="color: red" id="expense_text"></span>:
						<div id="expenseDisplay" style="display: inline;">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
                </div>
				<div id="evilInfo" class="hidden resource topbar-element">
					<div class="text-caption">					<span class="color-evil" id="evil"></span>: <span id="evilDisplay"></span></div>
					<div style="color: gray" class="sidebar-element" id="evil_desc"></div>
				</div>
				<div id="essenceInfo" class="hidden resource topbar-element">
					<div class="text-caption">					<span class="color-essence" id="essence"></span>: <span id="essenceDisplay"></span></div>
					<div style="color: gray" class="sidebar-element" id="essence_desc"></div>
				</div>
				<div id="darkMatterInfo" class="hidden resource topbar-element">
					<div class="text-caption">					<span class="color-dark-matter" id="dark_matter"></span>: <span id="darkMatterDisplay"></span></div>
					<div style="color: gray" class="sidebar-element" id="dark_matter_desc"></div>
				</div>
				<div id="darkOrbsInfo" class="hidden resource topbar-element">
					<div class="text-caption">					<span class="color-dark-orbs" id="dark_orbs"></span>: <span id="darkOrbsDisplay"></span></div>
					<div style="color: gray" class="sidebar-element" id="dark_orbs_desc"></div>
				</div>
				<div id="hypercubesInfo" class="resource topbar-element">
					<div class="text-caption">					<span class="color-hypercubes" id="hypercubes"></span>: <span id="hypercubesDisplay"></span></div>
					<div style="color: gray" class="sidebar-element" id="hypercubes_desc"></div>
				</div>
          	</div>
        </div>