<div class="header">
			<img src="img/logos.png" alt="logos" />
			<h3><span id="app_title"></span></h3>
		</div>
		<div id="resources" class="row">
            <div class="panel w3-padding topbar">
                <div id="income-resource" class="topbar-element">
					<div class="topbar-balance-block">
						<div class="topbar-center">
							<span class="icon-gap">💰</span>
							<div class="text-caption" id="coinDisplay">
							</div>
						</div>
						<div class="topbar-balance"><span id="balance"></span></div>
					</div>
					<div>
						<div>
							<span class="color-hypercubes" id="net_text"></span>: <b id="signDisplay"></b>
							<div id="netDisplay">
							</div>
						</div>
						<div>
							<span class="color-income" id="income_text"></span>:
							<div id="incomeDisplay">
							</div>
						</div>
						<div>
							<span id="expense_text"></span>:
							<div id="expenseDisplay">
							</div>
						</div>
					</div>
                </div>
				<div class="topbar-currencies">
					<div id="evilInfo" class="hidden topbar-element" data-tip="evil_desc">
						<div class="text-caption">					<span class="color-evil" id="evil"></span>: <span id="evilDisplay"></span></div>
					</div>
					<div id="essenceInfo" class="hidden topbar-element" data-tip="essence_desc">
						<div class="text-caption">					<span class="color-essence" id="essence"></span>: <span id="essenceDisplay"></span></div>
					</div>
					<div id="darkMatterInfo" class="hidden topbar-element" data-tip="dark_matter_desc">
						<div class="text-caption">					<span class="color-dark-matter" id="dark_matter"></span>: <span id="darkMatterDisplay"></span></div>
					</div>
					<div id="darkOrbsInfo" class="hidden topbar-element" data-tip="dark_orbs_desc">
						<div class="text-caption">					<span class="color-dark-orbs" id="dark_orbs"></span>: <span id="darkOrbsDisplay"></span></div>
					</div>
					<div id="hypercubesInfo" class="topbar-element" data-tip="hypercubes_desc">
						<div class="text-caption">					<span class="color-hypercubes" id="hypercubes"></span>: <span id="hypercubesDisplay"></span></div>
					</div>
				</div>
          	</div>
        </div>