<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" type="text/css" href="css/dark.css">
	<link rel="stylesheet" type="text/css" href="css/colorblind.css">
	<link rel="stylesheet" type="text/css" href="css/currencies.css">
	<title id="site_title"></title>
	<link rel="shortcut icon" href="img/logo.ico" />
</head>