<div class="tab column" style="display:none" id="milestones">
					<div id="tabcolumnMilestones" class="panel w3-margin-left" style="display: flex">
						<div class="w3-button w3-bar-item tabButtonMilestones baritem w3-blue-gray" id="milestonesTab1TabButton" onClick="setTabMilestones('milestonesTab1')"><span id="milestones_tab_milestones"></span></div>
						<div class="w3-button w3-bar-item tabButtonMilestones baritem" id="evilSlotShopTabButton" onClick="setTabMilestones('evilSlotShop')"><span id="milestones_tab_shop"></span></div>
					</div>
					<div id="maincolumnMilestones" class="panel w3-margin-left w3-margin-top">
						<div id="milestonesTab1" class="tabMilestones">
							<div id="milestonePage" class="panel page-column">
								<table id="milestoneTable" class="w3-table w3-bordered">
								</table>
							<div id="congratulationsBanner" class="congrats hidden">
								<div id="congratulations"></div>
								<div id="beaten_the_game"></div>
							</div>
							</div>
						</div>

						<div id="evilSlotShop" class="tabMilestones">
							<div class="panel page-column w3-padding" style="padding-top:2em">
								<div class="text-caption" id="evil_slot_shop"></div>
								<div style="color:gray; padding-bottom:1em" id="evil_slot_shop_hint"></div>

								<div style="padding-top:1em">
									<div class="tooltip"><span class="tooltipText" id="evil_slot_job_tooltip"></span><div class="text-caption" id="evil_slot_job_name"></div></div>
									<div style="color:gray; padding-bottom:0.3em" id="evil_slot_job_desc"></div>
									<div style="color:gray; padding-bottom:0.3em"><span id="evilSlotJobCountLabel"></span> <b id="evilSlotJobCount"></b></div>
									<div style="color:gray; padding-bottom:0.5em"><span id="evilSlotJobCostLabel"></span>: <b id="evilSlotJobCost"></b> <span class="color-evil" id="evilSlotJobCurrency"></span></div>
									<div id="evilSlotJobProgress" class="req-progress-container">
										<div class="req-pending-bar color-evil"></div>
										<div class="req-progress-bar color-evil"></div>
									</div>
									<button class="w3-button button" id="evilSlotJobBuyButton" onclick="buyJobSlot()"></button>
								</div>

								<div style="padding-top:2em">
									<div class="tooltip"><span class="tooltipText" id="evil_slot_skill_tooltip"></span><div class="text-caption" id="evil_slot_skill_name"></div></div>
									<div style="color:gray; padding-bottom:0.3em" id="evil_slot_skill_desc"></div>
									<div style="color:gray; padding-bottom:0.3em"><span id="evilSlotSkillCountLabel"></span> <b id="evilSlotSkillCount"></b></div>
									<div style="color:gray; padding-bottom:0.5em"><span id="evilSlotSkillCostLabel"></span>: <b id="evilSlotSkillCost"></b> <span class="color-evil" id="evilSlotSkillCurrency"></span></div>
									<div id="evilSlotSkillProgress" class="req-progress-container">
										<div class="req-pending-bar color-evil"></div>
										<div class="req-progress-bar color-evil"></div>
									</div>
									<button class="w3-button button" id="evilSlotSkillBuyButton" onclick="buySkillSlot()"></button>
								</div>
							</div>
						</div>
					</div>
				</div>
