<div class="tab column" style="display:none" id="rebirth">
					<div id="tabButtonsRebirth" class="panel" style="display: flex">
					</div>
					<div id="maincolumnRebirth" class="panel">
						<div id="rebirthTab1" class="tabRebirth">
							<div id="rebirthPage" class="panel page-column">
								<ul style="list-style: none; padding-left: 0; margin-top: 0;">
									<li id="rebirth_note_0" style="margin-bottom: 0.9em;" class="hidden"></li>
									<li id="rebirth_note_1" style="margin-bottom: 0.9em;" class="hidden"></li>
									<li id="rebirth_note_2" style="margin-bottom: 0.9em;" class="hidden"></li>
									<li id="rebirth_note_2_info" style="margin-bottom: 0.9em;" class="hidden info-box"></li>
									<li id="rebirth_note_2_hint" style="margin-bottom: 0.9em;" class="hidden hint-box"></li>
									<li id="rebirth_note_3" style="margin-bottom: 0.9em;" class="hidden"></li>
									<li id="rebirth_note_3_hint" style="margin-bottom: 0.9em;" class="hidden hint-box"></li>
									<li id="rebirth_note_3_info" style="margin-bottom: 0.9em;" class="hidden info-box"></li>
									<li id="rebirth_note_4" style="margin-bottom: 0.9em;" class="hidden"></li>
									<li id="rebirth_note_4_hint" style="margin-bottom: 0.9em;" class="hidden hint-box"></li>
									<li id="rebirth_note_4_unlock" style="margin-bottom: 0.9em;" class="hidden info-box"></li>
									<li id="rebirth_note_5" style="margin-bottom: 0.9em;" class="hidden"></li>
									<li id="rebirth_note_5_unlock" style="margin-bottom: 0.9em;" class="hidden info-box"></li>
									<li id="rebirth_note_5_info" style="margin-bottom: 0.9em;" class="hidden info-box"></li>
									<li id="rebirth_note_5_warning" style="margin-bottom: 0.9em;" class="hidden warning-box"></li>
									<li id="rebirth_note_6" style="margin-bottom: 0.9em;" class="hidden"></li>
									<li id="rebirth_note_7" style="margin-bottom: 0.9em;" class="hidden"></li>
									<li id="rebirth_note_7_info" style="margin-bottom: 0.9em;" class="hidden info-box"></li>
									<li id="rebirth_note_8" style="margin-bottom: 0.9em;" class="hidden"></li>
									<li id="rebirth_note_8_info" style="margin-bottom: 0.9em;" class="hidden info-box"></li>
									<li id="hypercube_cap_text" style="margin-bottom: 0.9em;" class="hidden info-box"></li>
									<li id="perk_points_gain_text" style="margin-bottom: 0.9em;" class="hidden info-box"></li>
								</ul>
							</div>
						</div>
					</div>
				</div>