<div class="tab column" style="display:none" id="rebirth">
					<div id="maincolumnRebirth" class="panel">
						<div id="rebirthTab1" class="tabRebirth">
							<div id="rebirthPage" class="panel page-column">
								<div class="notes-list">
										<details class="note hidden" data-note="rebirth_note_start">
											<summary id="rebirth_note_start_title"></summary>
											<div id="rebirth_note_start" class="note-body"></div>
										</details>
										<details class="note hidden" data-note="rebirth_note_0">
											<summary id="rebirth_note_0_title"></summary>
											<div id="rebirth_note_0" class="note-body"></div>
										</details>
										<details class="note hidden" data-note="rebirth_note_1">
											<summary id="rebirth_note_1_title"></summary>
											<div id="rebirth_note_1" class="note-body"></div>
										</details>
										<details class="note hidden" data-note="rebirth_note_2">
											<summary id="rebirth_note_2_title"></summary>
											<div id="rebirth_note_2" class="note-body"></div>
											<div class="note-extra hidden" data-note="rebirth_note_2_hint">
												<div id="rebirth_note_2_hint" class="hint-box"></div>
											</div>
										</details>
										<details class="note hidden" data-note="rebirth_note_3">
											<summary id="rebirth_note_3_title"></summary>
											<div id="rebirth_note_3" class="note-body"></div>
											<div class="note-extra hidden" data-note="rebirth_note_3_hint">
												<div id="rebirth_note_3_hint" class="hint-box"></div>
											</div>
											<div class="note-extra hidden" data-note="rebirth_note_3_milestones">
												<div id="rebirth_note_3_milestones" class="info-box"></div>
											</div>
										</details>
										<details class="note hidden" data-note="rebirth_note_challenges">
											<summary id="rebirth_note_challenges_title"></summary>
											<div id="rebirth_note_challenges" class="note-body"></div>
										</details>
										<details class="note hidden" data-note="rebirth_note_4">
											<summary id="rebirth_note_4_title"></summary>
											<div id="rebirth_note_4" class="note-body"></div>
											<div class="note-extra hidden" data-note="rebirth_note_4_hint">
												<div id="rebirth_note_4_hint" class="hint-box"></div>
											</div>
											<div class="note-extra hidden" data-note="rebirth_note_4_unlock">
												<div id="rebirth_note_4_unlock" class="info-box"></div>
											</div>
										</details>
										<details class="note hidden" data-note="rebirth_note_5">
											<summary id="rebirth_note_5_title"></summary>
											<div id="rebirth_note_5" class="note-body"></div>
											<div class="note-extra hidden" data-note="rebirth_note_5_unlock">
												<div id="rebirth_note_5_unlock" class="info-box"></div>
											</div>
											<div class="note-extra hidden" data-note="rebirth_note_5_warning">
												<div id="rebirth_note_5_warning" class="warning-box"></div>
											</div>
										</details>
										<details class="note hidden" data-note="rebirth_note_6">
											<summary id="rebirth_note_6_title"></summary>
											<div id="rebirth_note_6" class="note-body"></div>
										</details>
										<details class="note hidden" data-note="rebirth_note_7">
											<summary id="rebirth_note_7_title"></summary>
											<div id="rebirth_note_7" class="note-body"></div>
											<div class="note-extra hidden" data-note="rebirth_note_7_dark_matter">
												<div id="rebirth_note_7_dark_matter" class="info-box"></div>
											</div>
										</details>
										<details class="note hidden" data-note="rebirth_note_8">
											<summary id="rebirth_note_8_title"></summary>
											<div id="rebirth_note_8" class="note-body"></div>
										</details>
										</div>
							</div>
						</div>
					</div>
				</div>