<script type="text/javascript" src="js/translations.js?v=1"></script>
	<script type="text/javascript" src="js/utils.js"></script>
	<script type="text/javascript" src="js/ui/helpers.js"></script>
	<script type="text/javascript" src="js/ui/sidebar.js"></script>
	<script type="text/javascript" src="js/ui/tabs.js"></script>
	<script type="text/javascript" src="js/ui/navigation.js"></script>
	<script type="text/javascript" src="js/ui/init.js"></script>
	<script type="text/javascript" src="js/math.js"></script>
	<script type="text/javascript" src="js/HackTimer.js"></script>
	<script type="text/javascript" src="js/classes.js"></script>
	<script type="text/javascript" src="js/challenges.js"></script>
	<script type="text/javascript" src="js/dark_matter.js"></script>
	<script type="text/javascript" src="js/metaverse.js"></script>
	<script type="text/javascript" src="js/tooltips.js"></script>
	<script type="text/javascript" src="js/milestones.js"></script>
	<script type="text/javascript" src="js/data.js?v=2"></script>
	<script type="text/javascript" src="js/calculations.js"></script>
	<script type="text/javascript" src="js/multipliers.js"></script>
	<script type="text/javascript" src="js/rebirth.js"></script>
	<script type="text/javascript" src="js/save.js"></script>
	<script type="text/javascript" src="js/gameLoop.js"></script>
	<script type="text/javascript" src="js/main.js?v=3"></script>