<div id="tabcolumn" class="panel w3-margin-left tabs-tab-column">
					<div class="w3-button w3-bar-item tabButton baritem" id="jobsTabButton" onClick="setTab('jobs')"><span id="tab_hero"></span></div>
					<div class="w3-button w3-bar-item tabButton baritem hidden" id="skillsTabButton" onClick="setTab('skills')"><span id="tab_skills"></span></div>
					<div class="w3-button w3-bar-item tabButton baritem hidden" id="shopTabButton" onClick="setTab('shop')"><span id="tab_holdings"></span></div>
					<div class="w3-button w3-bar-item tabButton baritem" id="challengesTabButton" onClick="setTab('challenges')"><span id="tab_challenges"></span></div>
					<div class="w3-button w3-bar-item tabButton baritem" id="milestonesTabButton" onClick="setTab('milestones')"><span id="tab_milestones"></span></div>
					<div class="w3-button w3-bar-item tabButton baritem" id="rebirthTabButton" onClick="setTab('rebirth')"><span id="tab_rebirth"></span></div>
					<div class="w3-button w3-bar-item tabButton baritem" id="darkMatterTabButton" onClick="setTab('darkMatter')"><span id="tab_dark_matter"></span></div>
					<div class="w3-button w3-bar-item tabButton baritem" id="metaverseTabButton" onClick="setTab('metaverse')"><span id="tab_metaverse"></span></div>
					<div class="w3-button w3-bar-item tabButton baritem" id="settingsTabButton" onClick="setTab('settings')"><span id="tab_settings"></span></div>
				</div>