<div id="hero">
					<template class="headerRowTaskTemplate">
						<tr>
							<th class="rowtitle category col-task-name"></th>
							<th class="rowtitle level"></th>
							<th class="rowtitle valueType col-task-value"></th>
							<th class="rowtitle xpGain"></th>
							<th class="rowtitle xpLeft"></th>
							<th class="rowtitle maxLevel"></th>
						</tr>
					</template>
					<template class="rowTaskTemplate">
						<tr>
							<td class="tooltip">
								<div class="progress-bar progressBar">
									<div class="progress-fill progressFill"></div>
				<div class="progress-text name" id="taskLabel"></div>
								</div>
								<span class="tooltipText"></span>
							</td>
							<td class="level"></td>
							<td class="value">
								<div class="effect nowrap"></div>
								<div class="income">
								</div>
							</td>
							<td class="xpGain"></td>
							<td class="xpLeft"></td>
							<td class="maxLevel"></td>
						</tr>
					</template>
					<template class="headerRowItemTemplate">
						<tr class="item-header-row">
							<th class="category col-item-name">
								<button class="button-no-button">
									<span class="name"></span>
								</button>
							</th>
							<th></th>
							<th class="col-item-effect"></th>
							<th></th>
						</tr>
					</template>
					<template class="rowItemTemplate">
						<tr>
							<td>
								<button class="button item-button tooltip">
									<span class="name"></span>
									<span class="tooltipText">tooltip</span>
								</button>
							</td>
							<td>
								<div class="outer-circle center-g-inside">
									<div class="active inner-circle"></div>
								</div>
							</td>
								<td class="effect"></td>
								<td class="expense">
								</td>
						</tr>
					</template>
					<template class="headerRowMilestoneTemplate">
						<tr>
							<th class="col-milestone-currency"></th>
							<th class="category col-milestone-name"></th>
							<th></th>
						</tr>
					</template>
					<template class="rowMilestoneTemplate">
						<tr>
							<td class="essence color-essence"></td>
							<td class="tooltip">
								<div class="progress-bar progressBar">
									<div class="progress-fill progressFill milestone"></div>
									<div class="progress-text name"></div>
								</div>
								<span class="tooltipText"></span>
							</td>
							<td class="description"></td>
						</tr>
					</template>
					<template class="requiredRowTemplate">
						<tr>
							<td class="requirement-cell">
								<div class="effect">
									<span class="w3-text-gray nextLabel"></span>: <span class="effectValue"></span>
								</div>
								<span class="w3-text-gray requirementLabel"></span>:
								<div class="value requirement-value">
									<span class="levels color-income"></span>
									<div class="coins">
									</div>
									<span class="evil color-evil"></span>
									<span class="essence color-essence"></span>
									<span class="darkMatter color-dark-matter"></span>
									<span class="hypercube color-hypercubes"></span>
								</div>
							<div class="req-progress-container">
								<div class="req-pending-bar"></div>
								<div class="req-progress-bar"></div>
							</div>
						</td>
						</tr>
					</template>
					<div class="tab" id="jobs">
						<div id="jobPage" class="table-page">
							<div class="autobuy-toggle-row" id="autoPromoteToggleRow" style="display:none">
								<label class="toggle">
									<input type="checkbox" id="autoPromoteToggle" onchange="toggleAutoPromote(this.checked)" />
									<span class="slider"></span>
									<span class="toggle-label" id="autopromote_toggle"></span>
								</label>
							</div>
							<table id="jobTable" class="w3-table w3-bordered">
							</table>
						</div>
					</div>
					<div class="tab" id="skills">
						<div id="skillPage" class="table-page">
							<table id="skillTable" class="w3-table w3-bordered">
							</table>
						</div>
					</div>
					<div class="tab" id="shop">
						<div id="itemPage" class="table-page">
							<div class="autobuy-toggle-row">
								<label class="toggle">
									<input type="checkbox" id="autoBuyToggle" onchange="toggleAutoBuy()" />
									<span class="slider"></span>
									<span class="toggle-label" id="autobuy_toggle"></span>
								</label>
							</div>
							<table id="itemTable" class="w3-table w3-bordered">
							</table>
						</div>
					</div>
				</div>