<!DOCTYPE html>
<html lang="en">
{% include "partials/head.html" %}
<body id="body" class="dark" style="font-size: x-small">
	<div class="w3-margin">
		{% include "partials/header_resources.html" %}
		{% include "partials/layout.html" %}
	</div>
	<div id="tooltipLayer" class="tooltip-layer"></div>
	<div id="noteModal" class="note-modal hidden">
		<div class="note-modal-box panel">
			<div id="noteModalTitle" class="note-modal-title"></div>
			<div id="noteModalBody" class="note-modal-body"></div>
			<button id="noteModalOk" class="w3-button button note-modal-ok"></button>
		</div>
	</div>
	{% include "partials/scripts.html" %}
</body>
</html>